<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesError/styleError.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
        <div class="error-container">
            <div class="text-container">
                <h1 class="error-title">404!</h1>
                <p>The page you are looking for was moved, removed, renamed or might never existed =( </p>
                <a href="" class="start-btn">Go Home</a href="">
            </div>
            <img src="imgs/error/error-robot.png" alt="">
        </div>
            
</body>
</html>