<%- include('./layouts/header', {title: 'TaskTwist | Error' , style: '/styles/error.css' }) %>

    <body>
        <div class="main-container">

            <div class="error-container">
                <p class="main-title">404!</p>
                <h1 class="error-description">The page you are looking for was moved, removed, renamed or might never
                    existed =( </h1>
                <a href="/" class="start-btn">Go Home</a href="">
            </div>
            <img src="/imgs/error/error-robot.png" class="error-image" alt="robot-img">
        </div>
    </body>

    </html>