<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../public/stylesTask/styleTask.css">
  <!--Bootstrap Icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
  <title>TaskTwist</title>

</head>

<body>
  <div class="main-container">
    <div class="main-content">

      <aside>
        <div class="overview-container">
          <div class="checklist-name-wrapper">
            <img src="imgs/commom/TaskTwistLogo.png" alt="taskTwitst-logo">
            <div>
              <h1>Checklist Name Example</h1>
              <p>Workspace</p>
            </div>
          </div>
          <p class="overview-title">OVERVIEW</p>
          <div class="overview-wrapper">
            <span><i class="bi bi-hammer"></i>10 TO-DO Tasks</span>
            <span><i class="bi bi-arrow-clockwise"></i>20 In Progress Tasks</span>
            <span><i class="bi bi-check-square"></i> 30 Completed Tasks</span>
          </div>
        </div>

        <div class="current-tasks-container">
          <p class="current-tasks-title">Current Tasks To Do <i class="bi bi-plus-lg"></i></p>
          <div class="checkbox-wrapper">
            <div class="checkbox-input-wrapper">
              <input type="checkbox" name="" id="" class="checkbox-input">
              <label for="">Wash Dishes</label>
            </div>
            <div class="checkbox-input-wrapper">
              <input type="checkbox" name="" id="" class="checkbox-input">
              <label for="">Wash Dishes</label>
            </div>
            <div class="checkbox-input-wrapper">
              <input type="checkbox" name="" id="" class="checkbox-input">
              <label for="">Wash Dishes</label>
            </div>
            <div class="checkbox-input-wrapper">
              <input type="checkbox" name="" id="" class="checkbox-input">
              <label for="">Wash Dishes</label>
            </div>
            <div class="checkbox-input-wrapper">
              <input type="checkbox" name="" id="" class="checkbox-input">
              <label for="">Wash Dishes</label>
            </div>
          </div>
        </div>
        <div class="profile">
          <img src="imgs/tasks/ProfileImg (2).jpeg" class="profile-img">
          <div>
            <p>Erik Scarcela Araujo</p>
            <p class="profile-function">Full Stack Developer</p>
          </div>
        </div>

      </aside>

      <main>
        <div class="header">
          <div class="logo">
            <img src="imgs/commom/TaskTwistLogo.png" alt="taskTwitst-logo">
            <h1>TaskTwist</h1>
          </div>
          <nav class="navbar is-bold">
            <a href="index.html">HOME PAGE</a>
            <a href="">ABOUT ME</a>
          </nav>
          <div class="input-group">
            <h2><i class="bi bi-search"></i></h2>
            <input type="text" name="search" id="search" placeholder="Search for Tasks!">
          </div>
        </div>
        <div class="main-wrapper">
          <div>
            <p class="main-title">Checklist Name Example</p>
            <p class="main-description">Transform your day by organizing your tasks with simplicity</p>
          </div>
          <button>Create New Task <i class="bi bi-plus-lg"></i></button>
        </div>
        <div class="status-btn-wrapper">
          <div class="all-tasks">
            <button class="status-btn-1">To Do</button>
            <div class="task-card">
              <img src="imgs/commom/TaskTwistLogo.png" alt="">
              <p>Header Page Update</p>
              <p>Created At: Jun 10 2024</p>
              <div class="icons-wrapper">
                <i class="bi bi-hammer"></i>
                <i class="bi bi-arrow-clockwise"></i>
                <i class="bi bi-check-square"></i>
              </div>
            </div>
            <div class="task-card">
              <img src="imgs/homepage/homepageImg.png" alt="">
              <p>Header Page Update</p>
              <p>Created At: Jun 10 2024</p>
              <div class="icons-wrapper">
                <i class="bi bi-hammer"></i>
                <i class="bi bi-arrow-clockwise"></i>
                <i class="bi bi-check-square"></i>
              </div>
            </div>
          </div>
          <div class="all-tasks">
            <button class="status-btn-2">In Progress</button>
            <div class="task-card">
              <img src="imgs/commom/TaskTwistLogo.png" alt="">
              <p>Header Page Update</p>
              <p>Created At: Jun 10 2024</p>
              <div class="icons-wrapper">
                <i class="bi bi-hammer"></i>
                <i class="bi bi-arrow-clockwise"></i>
                <i class="bi bi-check-square"></i>
              </div>
            </div>
          </div>
          <div class="all-tasks">
            <button class="status-btn-3">Completed</button>
            <div class="task-card">
              <img src="imgs/homepage/homepageImg.png" alt="">
              <p>Header Page Update</p>
              <p>Created At: Jun 10 2024</p>
              <div class="icons-wrapper">
                <i class="bi bi-hammer"></i>
                <i class="bi bi-arrow-clockwise"></i>
                <i class="bi bi-check-square"></i>
              </div>
            </div>
            <div class="task-card">
              <img src="imgs/commom/TaskTwistLogo.png" alt="">
              <p>Header Page Update</p>
              <p>Created At: Jun 10 2024</p>
              <div class="icons-wrapper">
                <i class="bi bi-hammer"></i>
                <i class="bi bi-arrow-clockwise"></i>
                <i class="bi bi-check-square"></i>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </main>


</body>

</html>